<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="styling.css">
	<title>Syntax_Schema</title>
	<style type="text/css">

		th,td
		{

			padding: 10px;
		}
		th
		{
			background-color: #162A6E;
			color: white;
		}
		button
		{
			position:absolute;
			transition: 0.1s ease;
    		left: 600px;
    		top: 200px;

		}
	</style>
</head>
<body style="background-color: #98E9E3">
	<table BORDER="3" align="left" bgcolor="dodgerblue" >
		<tr>
			<th>SYMBOL</th>
			<th>WORD TO BE PRONOUNCED</th>
		</tr>
		<tr>
			<td>(</td>
			<td>bit</td>
		</tr>
		<tr>
			<td>)</td>
			<td>kit</td>
		</tr>
		<tr>
			<td>:</td>
			<td>colon</td>
		</tr>
		<tr>
			<td>=</td>
			<td>equal</td>
		</tr>
		<tr>
			<td><</td>
			<td>lay</td>
		</tr>
		<tr>
			<td>></td>
			<td>gay</td>
		</tr>
		<tr>
			<td>!=</td>
			<td>no</td>
		</tr>
		<tr>
			<td>""</td>
			<td>dom</td>
		</tr>
		<tr>
			<td>,</td>
			<td>comma</td>
		</tr>
		<tr>
			<td>''</td>
			<td>incom</td>
		</tr>
	</table>
	<table bgcolor="dodgerblue" border="3" align="right">
		<tr>
			<th>SYMBOL</th>
			<th>WORD TO BE PRONOUNCED</th>
		</tr>
		<tr>
			<td>#</td>
			<td>hash</td>
		</tr>
		<tr>
			<td>@</td>
			<td>atrate</td>
		</tr>
		<tr>
			<td>&</td>
			<td>ampercent</td>
		</tr>
		<tr>
			<td>%</td>
			<td>percent</td>
		</tr>
		<tr>
			<td>-</td>
			<td>dash</td>
		</tr>
		<tr>
			<td>/</td>
			<td>slash</td>
		</tr>
		<tr>
			<td>^^</td>
			<td>expo</td>
		</tr>
		<tr>
			<td>\</td>
			<td>blash</td>
		</tr>
		<tr>
			<td>[</td>
			<td>tik</td>
		</tr>
		<tr>
			<td>]</td>
			<td>tok</td>
		</tr>
		<tr>
			<td>new_line</td>
			<td>l</td>
		</tr>
	</table>
	<div class="wrap">
		<a href="ide.html">
	<button class="button"type="button" ><img src="thumbnail_large.png" width="150" height="150" align="center" alt="GOTO IDE"><P>GO TO IDE</P></button></a>
	</div>
</body>
</html>
