<!DOCTYPE html>
<html>
<head>
	<title>IDE_o_Voice</title>
	<link rel="stylesheet" type="text/css" href="styling.css">
</head>
<body bgcolor="blue">
	<h1 style="background-color:DodgerBlue;" align="center"><p align="center" style="font-size: 100px">Voice Based IDE</p></h1>
	<p align="center" style="font-size: 50px">...Select your option...</p>
	<div class="wrap"">
	<a href="help.html" target="_private">
	<button class="button" type="button"><img src="118228.png" width="150" height="150" align="center" alt="HELP"><p>HELP: SYNTAX SCHEMA</p></button></a>
	<p><font color="blue"> ....... </font></p>
	<a href="ide.html">
	<button class="button" type="button"><img src="thumbnail_large.png" width="150" height="150" align="center" alt="GOTO IDE"><p>GO TO IDE</p></button></a>
	<p><font color="blue">.......</font></p>
	<a href="https://google.com/" target="_private">
	<button class="button" type="button"><img src="17342497_1218848264879927_1092934819479691971_n.jpg" width="135" height="135" align="center"><p>TiMe PaSs</p></button></a>
	</div>
	<p align="center"><br><br>CREDITS:<br>Mayank   Harshit Sharma<br>Paras Jain    Deepanshu Singh</p>
</body>
</html>